
    <a class="favorite item" hero-id="<% if(typeof(hero.sid)=="undefined"){ %><%= hero.id %><% }else{ %><%= hero.sid %><% } %>" build-id="<% if(typeof(build.sid)=="undefined"){ %><%= build.id %><% }else{ %><%= build.sid %><% } %>">
      <img width="70px" height="70px" src="<%= hero.image %>" style="border:1px solid; float:left;">
        <div class="description">
        <h4><%= hero.name %></h4>
            <%= build.title %>
        </div>
        <!--
        <div style="float:left">
        </div>
      <div style="float:left; font-size: 18px; margin-left: 20px; max-width: 150px; overflow:hidden;">
        </div>

  -->

        <div style="clear:both"></div>      
      <span class="chevron"></span>
    </a>
