
    <a dataname="<%= name %>" class="hero item" hero-id="<% if(typeof(sid)=="undefined"){ %><%= id %><% }else{ %><%= sid %><% } %>">
    	<img width="70px" height="70px" src="<%= image %>" style="border:1px solid; float:left;">
        <div class="description">
    		<h4><%= name %></h4>
            <%= title %>
        </div>
        <!--
        <div style="float:left">
        </div>
    	<div style="float:left; font-size: 18px; margin-left: 20px; max-width: 150px; overflow:hidden;">
        </div>

  -->

        <div style="clear:both"></div>      
      <span class="chevron"></span>
    </a>
