header.bar-title {
background-color: #1eb0e9;
background-image: -webkit-linear-gradient(top, #1eb0e9 0, #109adc 100%);
background-image: -webkit-linear-gradient(top, #663399 0, #333399 100%);

}


ul.list li { background-color: #FFFF33; box-shadow: 0px 0px 10px #CC6600 inset;}

ul.list li a h4 { font-size:20px;}
ul.list li a { font-size:14px;}
ul.list li a.hero .description {float:left; margin-left: 10px;}
ul.list li a.build {font-weight:bold;}

table.abilities td { background-color: #6633FF; box-shadow: 0px 0px 3px black inset; color: white; text-shadow: 1px 1px 0px black; text-align: center; padding: 4px; }
table.abilities td.mark { background-color: #FFFF66; color: red; }